<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proyecto Xocoy</title>
  <link rel="stylesheet" href="../../resources/css/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <header class="header-top" >
  </header>
  <nav class="navegador">
    <a class="navegador-a" href="index.php"><img src="../../resources/img/inicio.png" alt="imagenInicio" class="icono-nav"/>Inicio</a>
    <a class="navegador-a" href="index.php"><img src="../../resources/img/menu.png" alt="imagenInicio" class="icono-nav"/>Nuestro Menu</a>
    <a class="navegador-a" href="index.php"><img src="../../resources/img/historia.png" alt="imagenInicio" class="icono-nav"/>Nuestra Historia</a>
    <a class="navegador-a" href="index.php"><img src="../../resources/img/comprar.png" alt="imagenInicio" class="icono-nav"/>Comprar</a>
    <a class="navegador-a" href="index.php"><img src="../../resources/img/comprar.png" alt="imagenInicio" class="icono-nav"/>Ingresa a tu cuenta</a>
    <a class="navegador-a" href="index.php">Contactanos</a>
  </nav>
  <div class="saludoUsuario">
    <h2>Bienvenido Fulano uwu </h2>
    <p>Aca tienes panel de control de Vizzaid</p>
  </div>
  <div class="contenedor">
    <h1 class="letrero-Catalogos">Usuarios</h1>
    <div class="columna-6">
      <div class="usuario-control">
      <h3 >¿Deceas agregar un nuevo usuario?<br><b>¡Pulsa aca!</b></h3>
      <button style="font-size:1.2em; width:2.3em;" type="button" class="btn btn-celeste btn-crl" name="button">+</button>
      <br><br><br>
    </div>
    </div>
    <div class="columna-1">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Tipo de U.</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Antonio</th>
          <th>Xocoy Rosales</th>
          <th>tonioros</th>
          <th>Por ahi en la ciudad</th>
          <th>anxrosales@gmail.com</th>
          <th>Administrador</th>
          <th><button type="button" name="button" class="btn btn-morado">Editar</button><button type="button" name="button" class="btn btn-naranja">Eliminar</button></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="contenedor">
    <div class="contenedor-col">

    <h1 class="letrero-Catalogos">Productos</h1>
    <div class="columna-6">
      <div class="usuario-control">
      <h3 >Agrega nuevos Productos al menu<br><b>¡Pulsa aca!</b></h3>
      <button style="font-size:1.2em; width:2.3em;" type="button" class="btn btn-celeste btn-crl" name="button">+</button>
      <br><br><br>
    </div>
    </div>
    <div class="columna-1">
      <table>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Tipo Categoria</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Primer Producto</th>
          <th>Q15.00</th>
          <th>Desayuno</th>
          <th><button type="button" name="button" class="btn btn-morado">Editar</button><button type="button" name="button" class="btn btn-naranja">Eliminar</button></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </body>
</html>
