/*
CREADO POR ANTONIO XOCOY ROSALES
PARA PROYECTO DE PRUEBA
KINAL FEBRERO 2017
PE6AV
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway');
.div-body{
  background: rgb(235, 235, 235);
  margin: 2px 10px;
}
.texto-carrousel{
  text-align: center;
  word-wrap: normal;
}
.carrusel-top{
  margin: 0px 5% 0px 7%;
}
.carrusel-element {
  width: 17%;
  float: left;
  margin: 2px;
}
.campo-ingreso{
  width: 85%;
  border-radius: 6px;
  height: 2em;
}
.campo-ingreso:focus{
  transition: 1s;
 box-shadow: 1.4px 1.5px rgb(158, 235, 252);
}
.imagenes-carrousel{
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  height: 80%;
  border-radius: 2px;
}
.carrusel-element * {
  margin-top: 2px;
}
.carrusel-element:hover {
  box-shadow: 1.5px 1px 1px 1.5px rgb(43, 170, 170);
  margin: 0px;
  transition: 0.5s;
}
.div-foot-create{
  background: url('../img/515741052.jpg');
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}
.text-create{
  margin: 0px;
  padding: 10% 9% 0 9%;
  font-size: 3em;
  color: rgb(25, 25, 25);
}
.text-create-sub{
  margin: 0px;
  padding: 0 20% 10% 20%;
  font-size: 1.5em;
  color: rgb(26, 26, 26);
}
.imagenes{
  margin: 2px 3px;
  border-radius: 10px;
}
.imagenes:hover{
  box-shadow: 2px 2px rgb(61, 182, 182);
  border-radius: 3px;
  transition: .3s;
}
body{
  background: rgb(251, 251, 251);
  margin: 0px;
  padding: 0px;
  margin-top: -40px;
  padding-left: 5px;
  padding-right: 5px;
}
.header-top{
  background: url('../img/headerVizzaid.jpg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 35em;
  border-radius: 3px;
  background-size: 100%;
  color: rgb(0, 0, 0);
  margin-left: -2px;
  margin-right: -2px;
  padding-top: 0px;
  margin-top: 0px;
}
.navegador{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 0px;
    width: 100%;
  }
.navegador-a{
  background: rgb(233, 233, 233);
  color: #1CBFB1;
  margin: 0px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 155%;
  border-right: solid 2px #2e2e2e;
  color: #fff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
.navegador-a:hover{
  border: solid 2.1px rgb(29, 29, 29);
  color: rgb(65, 65, 65);
  transition: 0.4s;
}
.icono-nav{
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 30px;
}
.contenedor{
text-align: left;
width: 100%;
margin: auto;
}
.mostrar-contenido{
  background: rgb(224, 224, 224);
  color: #383838;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
  opacity: 0.72;
  font-size: 1.3em;
}
.clearfix{
  clear: both;
}
.contenedor-col{
  clear: both;
  margin: auto;
  padding: inherit;
}
.columna-1{
  width: 80%;
  margin: 0px;
  padding: 0px;
  float: left;
  }
.columna-2{
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.columna-3{
  width: 33.33%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.columna-4{
  width: 25%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.columna-5{
  width: 20%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.columna-6{
  width: 16.66%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.btn{
  background: rgb(217, 217, 217);
  border: none;
  border-radius: 2px;
  color: rgb(22, 22, 22);
  padding: 5px 8px;
  font-size: 1.2em;
}
.btn:hover{
  background: rgb(236, 236, 236);
}
footer{
  background: rgb(29, 29, 29);
  color: rgb(107, 107, 107);
  border-top: rgb(91, 91, 91);
  margin: 0px;
  padding: 8px 37%;
}
.saludoUsuario{
  background: rgb(215, 128, 100);
  color: rgb(255, 255, 255);
  margin: 6px 12px;
  font-size: 2em;
  padding: 1.5em 30%;
}
.usuario-control{
  background: rgba(240, 239, 235, 1);
  padding: 3px 10px;
  margin: 6px 12px;
}
.btn{
  background: rgb(216, 219, 217);
  padding: 4px 6px;
  font-size: 1.2em;
  border-radius: 3px;
}
.btn-rojo{
  background: rgb(205, 88, 70);
  color: white;
}
.btn-rojo:hover{
  background: rgb(228, 116, 99);
}
.btn-verde{
  background: rgb(73, 166, 96);
  color: white;
}
.btn-verde:hover{
  background: rgb(85, 196, 113);
}
.btn-azul{
  background: rgb(62, 63, 203);
  color: white;
}
.btn-azul:hover{
  background: rgb(111, 112, 231);
}
.btn-celeste{
  background: rgb(70, 181, 205);
  color: white;
}
.btn-celeste:hover{
  background: rgb(117, 195, 212);
}
.btn-morado{
  background: rgb(129, 70, 205);
  color: white;
}
.btn-morado:hover{
  background: rgb(157, 106, 223);
}
.btn-naranja{
  background: rgb(205, 119, 70);
  color: white;
}
.btn-naranja:hover{
  background: rgb(235, 152, 104);
}
.btn-crl{
  border-radius: 85%;
  padding: 10px;
}
.btn-rectan{
  padding: 4px 10px;
}
table, .table{
  border-radius: 3px;
  border: 1px solid rgb(214, 214, 214);
  border-bottom: none;
  border-left: none;
  background: rgb(242, 242, 242);
  margin: 1px;
}
table * , .table *{
  border-radius: 3px;
  padding: 2px 3px;
  border-left: 1px solid rgb(214, 214, 214);
  border-bottom: 1px solid rgb(214, 214, 214);
  background: rgb(242, 242, 242);}
table thead , .table thead{
 font-family: 'Raleway';
border-radius: 3px;
border-left: 1px solid rgb(214, 214, 214);
border-bottom: 1px solid rgb(214, 214, 214);
font-size: 1.2em;
background: rgb(242, 242, 242);}
table tr:hover , .table tr:hover{
background: rgb(232, 232, 232);}
.letrero-Catalogos{
color: rgb(68, 68, 68);
background:rgb(240, 240, 240);
border: solid 1px rgb(162, 162, 162);
border-radius:3px; padding: 2px 45%;
}
