<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proyecto Xocoy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body style="background: rgba(137, 64, 167, 0.73);">
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-4 offset-md-4" style="padding: 10px;background: rgba(226, 228, 103, 0.73); border-radius: 4px; margin-top: 3em;">
          <div style="background: url('../resources/img/headerVizzaid.jpg');
          background-size: 100%; height: 15em; ">
          </div>
          <h2 style="color: rgb(246, 246, 246);font-family: 'Raleway';">Ingrese su usuario y contraseña</h2>
        <form class="" action="index.html" method="post">
            <input style="margin: 3px" type="text" placeholder="Usuario" name="uNi"  class="form-control" value="">
            <input style="margin: 3px" type="password" placeholder="Contraseña" name="uPas" class="form-control"  value="">
            <input style="margin: 3px" type="submit" class="btn btn-primary" name="" value="Ingresar">
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
